.contant {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    max-width: 380px;
    height: 200px;
    border: 1px solid #eaeaea;
    border-radius: 20px;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
    flex-direction: column;

    &:hover {
        box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.06);
        transform: translateY(-5px);
    }

    .favotites {
        position: relative;
        top: 7px;
        left: 7px;
        cursor: pointer;
        opacity: 0.5;
        color: rgb(80, 79, 79);
        font-size: 25px;

        &:hover {
            opacity: 1;
            color: rgba(221, 3, 32, 0.651)
        }
    }

    .active {
        opacity: 1;
        color: rgba(221, 3, 32, 0.651);
    }



    img {
        width: 150px;
        margin: 10px 5px 0px 20px;
        border-radius: 10px;
    }

    .opacity {
        opacity: 0.5;
    }

    button {
        span {
            cursor: pointer;
        }
    }

    .priceAdd {
        display: flex;
        align-items: center;
        gap: 55px;

        button {
            padding: 0;
            width: 20px;
            height: 30px;
            cursor: pointer;
            border: none;
            background-color: transparent;
            font-size: 20px;
            color: #aecaff;

            &:hover {
                color: rgba(16, 219, 16, 0.7)
            }
        }

        .active {
            color: rgba(16, 219, 16, 0.7);
        }
    }

}