.close {
    background-color: transparent;
    border: none;
    cursor: pointer;

    span {
        font-size: 24px;
        color: rgba(0, 0, 0, 0.5);

        &:hover {
            color: rgb(235, 8, 54);
        }
    }

}



.btnStatic {
    // display: flex;
    // justify-content: center;
    // align-items: center;

 
        margin: 0 auto;
    // button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        padding: 10px;
        font-size: 16px;
        border-radius: 10px;
        border-color: transparent;
        color: #fff;
        background-color: #9DD458;
        cursor: pointer;
        display: flex;
        justify-content: space-around;
        align-items: center;

        span {
            // position: relative;
            // left: 40px;
            font-size: 25px;
            transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

        }

        &:hover {
            opacity: 0.7;
            span {
                box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.06);
                transform: rotate(180deg) translateX(3px);
            }
        }

      

    }
