.container {
    padding-bottom: 30px;


    .searchContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        border-bottom: 1px solid #eaeaea;

    }



    .productContant {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        gap: 25px 15px;
    }

    .contantProduct {
        width: 100%;
        display: flex;
        justify-content: space-around;
        gap: 5px;
        flex-wrap: wrap;
        border: 1px solid #eaeaea;
        border-radius: 25px;
        padding: 30px 0;

    }

}

.container>.contant {
    max-width: 300px;
}